body {
    font-family: sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.quiz-container {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
    width: 90%;
    max-width: 600px;
    overflow: hidden;
}

.quiz-header {
    padding: 2rem;
}

h2 {
    padding: 1rem;
    margin: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

ul li {
    margin: 1rem 0;
    font-size: 1.2rem;
}

ul li label {
    cursor: pointer;
    margin-left: 0.5rem;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    display: block;
    width: 100%;
    cursor: pointer;
    font-size: 1.5rem;
    padding: 1rem;
    transition: background-color 0.2s;
}

button:hover {
    background-color: #0056b3;
}