body {
  background-color: rgb(241, 236, 241);
}

#ZRBh {
  text-align: center;
  color: blueviolet;
}

#names {
  margin: 10px;
  background-color: aqua;
  border-radius: 30px;
  padding: 10px;
  font-size: 23px;
  border-style: double;
  border-color: blue;
  border-width: 7px;
  size: 70%;
  max-width: 60%;
}

#click {
  padding: 20px;
  border-radius: 30px;
  cursor: pointer;
  color: aqua;
  background-color: darkturquoise;
  transition: background-color 0.5s;
}

#click:hover {
  background-color: blue;
}

.INTERACTION {
  max-width: 100%;
  max-height: 500px;
  background-color: rgb(237, 211, 254);
  border-radius: 40px;
}

.image {
  width: 100%;
  border-radius: 40px;
  filter: brightness(0.9) opacity(0.5);
}

#details {
  color: rgb(165, 42, 42);
  font-family: fantasy;
}

h1 {
  color: rgb(0, 139, 253);
  text-align: center;
}

.intro {
  color: rgb(255, 0, 0);
}

.list {
  max-width: 100%;
  max-height: 500px;
  background-color: rgb(237, 211, 254);
  border-radius: 40px;
}